<div class="container">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="brand">Brand</label>
      <select class="form-control" id="brand">
        <option>1</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="color">Color</label>
      <select class="form-control" id="color">
        <option>1</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="price-min">Price Range:</label> 
      <input type="text" class="form-control" id="price-min" value="0">
    </div>
    <div class="form-group col-md-3">
      <label for="price-min">To</label>
      <input type="text" class="form-control" value="1000">
    </div>
  </div>
</div>
<hr>
<!--Format all search results as the below card-->
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 >Dummy Item Title</h4>
      </div>
      <div class="card-body">
        <div><label>Category:</label>fake category</div>
        <div><label>Brand:</label>fake brand</div>
        <div><label>Color:</label>fake color</div>
        <div><label>Price:</label>$1,000,000</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>Search by Brand</div>
  <div>
    <input [(ngModel)]="searchText" name="titleSearch"/>
  </div>
  <div>
    <button (click)="searchById()">Search</button>
  </div>
  <div>
    <ul *ngFor="let product of productResults">
      <li>{{product.id}}</li>
    </ul>
  </div>
  </div>
  <div class="container">
    <div>Search by Color</div>
    <div>
      <input [(ngModel)]="searchText" name="titleSearch"/>
    </div>
    <div>
      <button (click)="searchByColor()">Search</button>
    </div>
    <div>
      <ul *ngFor="let product of productResults">
        <li>{{product.color}}</li>
      </ul>
    </div>
    </div>

    <label>Search: <input ng-model="searchByPrice"></label>
<table id="searchTextResults">
  <tr><th>productPrice</th></tr>
  <tr ng-repeat="product in productResults| filter:searchByPrice">
    <td>{{product.id}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.productPrice}}</td>
    <td>{{product.productColor}</td>
    <td>{{product.ProductBrand}}</td>
    <td>{{product.productCategory}</td>
  </tr>
</table>



